.navbar {
  background-color: var(--mantine-color-body);
  width: max-content;
  height: 100vh;
  position: fixed;
  padding: var(--mantine-spacing-md);
  padding-top: 0;
  display: flex;
  flex-direction: column;
  border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.section {
  margin-left: calc(var(--mantine-spacing-md) * -1);
  margin-right: calc(var(--mantine-spacing-md) * -1);
  margin-bottom: var(--mantine-spacing-md);

  &:not(:last-of-type) {
    border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  }
}

.user {
  display: block;
  width: max-content;
  padding: var(--mantine-spacing-md);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));

  &:hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
  }
}

.mainLinks {
  padding-left: calc(var(--mantine-spacing-md) - var(--mantine-spacing-xs));
  padding-right: calc(var(--mantine-spacing-md) - var(--mantine-spacing-xs));
  padding-bottom: var(--mantine-spacing-md);
}

.mainLink {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: var(--mantine-font-size-xs);
  padding: 8px var(--mantine-spacing-xs);
  border-radius: var(--mantine-radius-sm);
  font-weight: 500;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));

  &:hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  }
}

.mainLinkInner {
  display: flex;
  align-items: center;
  flex: 1;
}

.mainLinkIcon {
  margin-right: var(--mantine-spacing-sm);
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-2));
}

.mainLinkBadge {
  padding: 0;
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.content {
  margin-left: auto; /* Push content to the right */
  padding-left: calc(var(--navbar-width) + 20px); /* Adjust dynamically if needed */
  overflow-y: auto; /* Allow content scrolling */
}